#optionsframework { max-width:100%; border:0; }
#optionsframework .group { padding-bottom:0; margin-bottom:0; border:0; background:none; }
#optionsframework .section .heading { border-bottom:0; margin-bottom:0; }
#optionsframework .postbox { margin-bottom:5px; }
#optionsframework-submit { padding:0; background:none; border:0; }