
/* =Page Layout on Smaller Screens
----------------------------------------------- */

/* Portrait tablet to landscape and desktop */
@media only screen and (max-width: 1020px){
	#page { 
		min-width:100%;
	}
	#access ul.menu {
		display:none;
	}
	#access div.selector span {
		background-position:99% 50%;
	}
	#drop-nav {
		display:block;
	}
	.wrapper {
		max-width:768px;
	}
	.general-2right #primary, .general-2left #primary {
		width:508px;
	}
}

/* Landscape phone to portrait tablet */
@media only screen and (max-width:788px) {
	#page { 
		min-width:100%;
	}
	#page {
		width:auto; max-width:788px; min-width:auto;
	}
	.widget, #secondary, .general-2right #primary, .general-2left #primary, .wrapper, #branding hgroup, #access, .row-fluid article, .postlist li, .cyon-sitemap div, .subpages li {
		width:auto!important; float:none!important; margin-left:0!important; text-align:left;
	}
	.grid article {
		width:50%!important; float:left!important; text-align:center;
	}
	#top div, #top p, #bottom .copyright, #access2 {
		float:none; text-align:left; width:auto; margin-bottom:10px; margin-left:0; text-align:left;
	}
	#access2 ul { 
		text-align:left;
	}
	#primary input[type=text], #primary input[type=email], #primary input[type=phone], #primary textarea, #primary select {
		width:95%!important; display:block; margin-bottom:5px;
	}
	#primary .cyonform .ui-datepicker-trigger {
		display:none;
	}
	#primary select {
		width:98%!important;
	}
	#respond label {
		float:none;
	}
	ol.commentlist .children textarea {
		width:95%;
	}
	.postlist li, .subpages li {
		margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #efefef;
	}
}

/* Landscape phones and down */
@media only screen and (max-width:480px) {
	body { 
		-webkit-text-size-adjust: 100%
	}
	#respond label, .cyonform .field .label, .cyonform .gfield_label, .cyonform .inputs, .cyonform .gform_fields .ginput_container {
		float:none; width:100%!important;
	}
	#primary .cyonform .gform_fields .validation_message {
		margin-left:0;
	}
	#primary input[type=text], #primary input[type=email], #primary input[type=phone], #primary textarea, #primary select {
		width:95%!important; display:block; margin-bottom:5px;
	}
	#primary select {
		width:98%!important;
	}
	.ginput_complex .ginput_left, .ginput_complex .ginput_right {
		float:none; margin-right:0;
	}
	.has-icon-list li, .has-icon2x-list li {
		padding:0 0 0 20px; float:none!important; width:auto!important;
	}
	ol.commentlist .children textarea {
		width:95%;
	}
	.gallery dl {
		float:none; width:100%; margin:0 0 5px 0;
	}
	.flexslider .flex-caption {
		display:none;
	}
	.masonry article {
		float:none!important; position:static!important; width:100%!important; border-bottom:1px solid #efefef; margin-bottom:10px;
	}
	.masonry article .article-wrapper {
		padding:0; box-shadow:none; border:0; border-radius:none;
	}
	.testimonials li {
		background:#f8f8f8; padding:10px; margin-bottom:10px; border-radius:5px;
	}
	.testimonials li .name { 
		margin:0 15px 0 0;
	}
	.testimonials li blockquote {
		margin-left:0; background:none; padding:0; margin-bottom:0;
	}
	.testimonials li blockquote:after {
		display:none;
	}
	.tabs .tab_nav li {
		float:none; margin-right:0;
	}
	.grid .span2 {
		display:none;
	}
	.grid .span10 {
		width:100%; margin-left:0;
	}
	.grid .price h2 {
		font-size:130%;
	}
	.grid article header {
		height:auto;
	}
	.grid hgroup h4 {
		display:none;
	}
	.grid article footer, .grid article section > ul li, .grid article header hgroup {
		padding:10px 5px;
	}
}
